body /*main page background*/
{
    background-color: black;
}

input /*for input boxes, buttons (anthing with <input> in html*/
{
  background-color: #aaaaaa;
  margin: 10;
}

.inputButton /*input button override style (for buttons)*/
{
  padding: 5 10 5 10;
  margin: 10;
  background-color: #ffffff;
}

select /*drop down style*/
{
    margin: 10 0;
    color: #111111;
    background-color: #aaaaaa;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label /*label styles*/
{
    padding: 10 0;
    color: azure;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p /*general text (paragraph) styles*/
{
    color: azure;
}

h1 /*largets header style*/
{
    font-size: x-large;
}