body
{
    background-color: black;
}

input
{
  background-color: #aaaaaa;
  margin: 10;
}

.inputButton
{
  padding: 5 10 5 10;
  margin: 10;
  background-color: #ffffff;
}

select
{
    margin: 10 0;
    color: #111111;
    background-color: #aaaaaa;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label
{
    padding: 10 0;
    color: azure;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p
{
    color: azure;
}